body { 
    background: url('../img/login.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   }
   /*memberi style pada login*/
   .panel-default {
    opacity: 0.97;
   }
