body { 
    background: url('../img/putih.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   }
   /*memberi style pada login*/
   .panel-default {
    opacity: 0.97;
    margin-top:120px;
   }
   .form-group.last {
    margin-bottom:10px;
   }

   h1{
	font-family: 'Times';
}